@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@350&family=Josefin+Slab&display=swap');

* { /*the spacing */
    margin:0px;
    padding:0px;
    border:0px;
}

.menui { /*spacing for the top of the tabs and text logo*/
    line-height: 75px;
}

#logo{
    padding-top: 15px;
    text-align: center;
}

#menu { /*style for the header tabs in the header */
    font-family: 'Josefin Slab', serif;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu p { /*style for the tabs in the header */
    float:right;
    margin-right: 3%;
    color: #fff5dd;
}

.menui p:hover { /*animation for the text in the header */
    border-bottom: 3px solid #5db86b;
}


#logo { /*style for the logo text in the header */
    font-family: 'Josefin Sans', sans-serif;
    color: #fff5dd;
    float: left;
    letter-spacing: 2px;
    margin-left: 10px;
}

nav { /*style for the nav bar */
    background-color: #7e3f00;
    height: 75px;
    width: 100%;
}

header{
    font-size: 150%;
}

body { /*style for the body */
    color: #fff5dd;
    background-color: #373e02;
    font-family: 'Josefin Slab', serif;

}

img{
    height: auto;
    width: 75%;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    display: flex;
    position: relative;
}

.container {
    position: relative;
  }

#text1 {/* style for the title on the main image(mimage)*/
    font-size: 150%;
    letter-spacing: 4px;

    height: auto;
    width: 25%;
    text-align: center;

    padding: 1%;

    background-color: #b95c0093;
    
    top: 25%;
    left: 15%;

    position: absolute;
    display: flex;
}

#text2 {/* style for the text on the main image(mimage)*/
    font-size: 150%;
    letter-spacing: 2px;

    height: auto;
    width: 30%;
    text-align: center;
    

    padding: 1%;

    background-color: #b95c0093;

    top: 75%;
    left: 25%;

    position: absolute;
    display: flex;


    text-decoration: none;
    color: #fff5dd;
    text-align: center;
    font-size: 150%;
}

#infosection{
    text-align: center;
}

.bugblock  {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.block {
    display: inline-block;
    width: 350px;
    height: 400px;
    background-color: #7e3f00;

    font-size: 150%;
}


@media only screen and (max-width:700px){
    header{
        font-size: 80%;
    }
    
    #text1 {
        font-size: 80%;
    }

    #text2{
        font-size: 80%;
        }
}